.jost-inter {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* Adjust the size of the image in the first div */
.footer .w-36 {
  width: 144px; /* Adjust as needed */
  height: 144px; /* Adjust as needed */
}

/* Position the image in the first div */
.footer .absolute.bottom-0.right-0 {
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}
